/* 

Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&display=swap');



/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/


@import url('scroll-to-top.css');
/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* cursor: url("../assets/temp/up-cursor.png"), auto !important; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

:root {
  --primary-text-color: #222;
  --accent-color: #152D97;
  --overlay-color: #152D97;
  --hyperlink-color: #152D97;
  --hyperlink-alternate-color: orangered;
  --hover-color: #111;
  --body-typeface: 'Montserrat', sans-serif;
  --heading-typeface: 'Karla', sans-serif;
  --subheading-typeface: 'Montserrat', sans-serif;
  --project-title-typeface: 'Eczar', serif;
  --heart-color: darkred;
  --background-color: rgba(248,246,242,0.975);
  /* --alt-background-color: black; */
  --text-selection-background-color: #555;
}



body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  margin: 1rem;

}

::selection {
  background: var(--accent-color);
}

/* Making all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */

}



/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2.5rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.project-title {
  font-size: 3rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--accent-color);
  /* border-bottom: 1px solid var(--accent-color); */

}

.overlay-title {
  font-size: 2.875rem;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--accent-color);
}

h3 {
  font-size: 1.325rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

h4 {
  color: var(--accent-color);
  font-family: var(--subheading-typeface);
}

h5 {
  color: var(--accent-color)
}

p {

  font-family: var(--body-typeface);
  font-size: 1rem;
  color: var(--accent-color);
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--hyperlink-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #555555;
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
} 

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: black;
}

.fineprint {
  font-size: .875rem;
}



.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 1.3;
}

.project-description {
  padding-top: 1rem;
  font-size: 1rem;
  color: black;
  line-height: 1.3;
  margin-bottom: 1rem
}



/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.hero {
  min-height: 50vh;
  display: flex;
  flex-direction: column;

}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.logo {
  width: 3rem;
}

.hero-header {
  background: var(--background-color);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  text-align: center;
}

.hero-icon {
  font-size: 4rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

/* This part isn't required */

.projects {
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  flex: 1;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: .35rem
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3px; */


  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;

  /* border-bottom: 1px solid black; */
  /* Required to contain overlay size */
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-color: #F8F6F2;
  transition: opacity .3s, visibility .3s;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: .8;
}

.project-title-bottom {

  display: flex;
  justify-content: space-between;
  /* padding-bottom: 1.75rem; */
  padding-top: 1rem;
}



/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  background: #F8F6F2;
  padding: 1rem;
  flex: 1;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.about-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.about-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.bottomMenu {
  text-align: center;
  margin-bottom: 20px;
}

.global-footer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  /* border-top: 1px solid black; */
  min-height: 30vh;
  background: var(--alt-background-color)



}

.footer-item-1 {
  text-align: center ;
  /* grid-column: 1 / 2;
  grid-row: 1 / 2; */
  /* border-right: 1px solid black; */
}

.footer-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  /* border-right: 1px solid black; */
}

.footer-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;

}

.footer-item-4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #F8F6F2;
}

/* Sidebar */
.project-aside {
  width: 100%;
  color: white;
  background: #F8F6F2;
  padding: 1rem;
  display: flex;
  flex-direction: column;

}

.project-navigation {

  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  font-size: 12rem;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}



/* Main Project Image Area */

.project-details {
  width: 100%;
  background: #F8F6F2;
  padding: 1rem;
}





/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/



.contact-form {

  font-family: 'Montserrat', sans-serif;
  text-align: center;

  margin: auto;
  margin-top: 50px;
}

#email {

  width: 300px;
  height: 30px;
  border-radius: 10px;
  background-color: #F8F6F2;
  border: 1px solid #152D97;
}

#submit {

  height: 30px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #152D97;
  color: #152D97;
  background-color: #F8F6F2;
  border-radius: 15px;
}


.holding-page-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #F8F6F2;
  /* https://grainy-gradients.vercel.app/ */
}


.holding-page-inner-container {
  display: grid;
  place-items: center;
  text-align: center;
}

.holding-page-logo {
  width: 150px;
  margin: auto;
  margin-bottom: 50px;
}

.holding-page-title {
  font-size: 3rem;
  color: #152D97;
}

.holding-page-copyright {
  font-size: .8rem;
  color: #EAD268;
}



/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/



.error-page {
  display: grid;
  place-items: center;
}

.error-page-wrapper {}

.error-page-inner-container {
  text-align: center;
}

.error-page-title {
  color: var(--accent-color);
}


/*
███████ ██   ██ ██████  ███████ ██████  ██ ███    ███ ███████ ███    ██ ████████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██ ██ ████  ████ ██      ████   ██    ██    ██      
█████     ███   ██████  █████   ██████  ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████ 
██       ██ ██  ██      ██      ██   ██ ██ ██  ██  ██ ██      ██  ██ ██    ██         ██ 
███████ ██   ██ ██      ███████ ██   ██ ██ ██      ██ ███████ ██   ████    ██    ███████ 
*/


.experiments-page {
  display: grid;
  place-items: center;
  /* background: black; */
}

.experiments-page-wrapper {}

.experiments-page-inner-container {
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experiments-page-title {
  color: var(--accent-color);
  font-size: 2rem;
}

.experiments-text {
  color: var(--alice-blue);
}

.experiment-1-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
}

.experiment-2-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

.sub-navigation-item {}

a.sub-navigation-link {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 1rem;
}

a.sub-navigation-link:hover {
  background: var(--accent-color);
  color: var(--floral-white);
  padding: 1rem;
}

/* Let's size the boxes */

.experiment-box {
  width: 50%;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.image {
  width: 40%;
}

/* Let's hide box 2 */

.experiment-image-2 {
  display: none;
}

.experiment-image-single {
  width: 20rem;
  padding: 2rem;
  display: grid;
  place-items: center;
}

#heyday-logo-blue {
  animation: rotation 9s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}


/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

  body {
    /* background: forestgreen; */
  }

  h1 {
    font-size: 4.275rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  .logo {
    width: 5rem;
  }

  .hero {
    min-height: 70vh;
  }

  .hero-headline-wrapper {
    padding: 4rem 8rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2.5rem;
  }




  /* Grayscale filter with full-colour on hover and tap
  .work-page-grid-item a img {
    filter: grayscale(100);
  } */

  /* .work-page-grid-item>a:active img,
  .work-page-grid-item>a:hover img {
    filter: grayscale(0);
  } */

  .about {
    padding-top: rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .global-footer {
    padding: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .about-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .footer-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .about-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .footer-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .about-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: end;
  }

  .footer-item-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: end;
  }

.copyright {
  text-align: left;
}

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: 0.5rem;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;

  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 35%;
    height: 65vh;
    position: -webkit-sticky;
    position: sticky;
    top: 2vh;
    padding-right: 2rem;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }

  .project-image {
    min-height: 50vh;
  }

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: flex-start;
    width: 20%;
  }

  .arrow {
    padding-right: 1rem;
  
  }


}


/* Only add styles below to make very minor adjustments for extra or extra-extra large devices */


/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  body {
    /* background: hotpink; */
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  }


}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
  body {
    /* background: blueviolet; */
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }


}